<% unless flash[:alert].blank? %>
  <div class="crayons-notice--danger registration__error-notice">
    <% if flash[:alert].is_a?(Array) %>
      Coś poszło nie tak:
      <ul>
        <% flash[:alert].each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <strong>
        <%= flash[:alert] %>
      </strong>
      <br>
    <% end %>

    Jeśli jeszcze nie potwierdziłeś/aś swojego adresu e-mail, <a href="<%= confirm_email_path %>">kliknij tutaj</a> i wyślij ponownie.
    <br>
    <%= t("contact_prompts.if_continued_trouble_html") %>
  </div>
<% end %>
