<div id="talks-form" style="display: none;">
  <%= render 'form', talk: Talk.new %>
</div>
<div id="talks-list" 
     data-settings="<%= @talk_settings.to_json %>">
</div>

<%= javascript_include_tag "talks", defer: true %>
