
    <h3>Zaprzysiężenie Uczestnika</h3>
    <p>Będąc uczestnikiem społeczności nietabu.pl, niezależnie w jakim celu i charakterze akceptujesz i zobowiązujesz się do przestrzegania naszego Kodeksu Postępowania, Regulaminu i Polityki Prywatności.</p>
    
    <h3>Zaprzysiężenie Zespołu</h3>
    <p>Jako Zespół nietabu.pl zobowiązujemy się do tworzenia otwartego i przyjaznego środowiska dla wszystkich niezależnie od wieku, tożsamości płciowej, wyglądu, rasy, religii czy tożsamości i orientacji seksualnej. Najwyższym priorytetem dla nas jest dbanie o to, aby nietabu.pl było miejscem wolnym od mowy nienawiści.</p>
    
    <p>Zapraszamy Cię do naszej społeczności. Rozgość się i bądź:</p>
    <ul>
        <li><strong>Otwarty:</strong> szanuj poglądy innych i ich punkty widzenia, niezależnie czy idziecie w tym samym kierunku.</li>
        <li><strong>Empatyczny:</strong> okazuj empatię dla doświadczenia i osobowości innych.</li>
        <li><strong>Kulturalny:</strong> używaj przyjaznego języka, odnosząc się do innych z użyciem odpowiednich zaimków lub neutralnych, w przypadku niepewności.</li>
        <li><strong>Tolerancyjny:</strong> traktuj wszystkich z szacunkiem, niezależnie od wieku, rasy, tożsamości płciowej, seksualnej czy wyglądu.</li>
        <li><strong>Honorowy:</strong> przyjmuj krytykę kulturalnie o ile jest ona konstruktywna. Pamiętaj, że nie musisz się z nią zgadzać.</li>
    </ul>
    
    <p>Pamiętaj też o:</p>
    <ul>
        <li>Cytowaniu źródeł, które są wykorzystywane w tworzeniu treści (więcej na temat unikania plagiatu: Jak uniknąć plagiatu?)</li>
        <li>Przestrzeganiu wytycznych AI oraz informowaniu, w przypadku korzystania z pomocy AI.</li>
    </ul>
    
    <p>Jako moderatorzy, możemy Cię wyprosić za:</p>
    <ul>
        <li>Mowę nienawiści lub komunikaty mające znamiona: rasizmu, homofobii, transfobii, ableizmu, seksizmu lub jeśli są w inny sposób uprzedzone/dyskryminujące.</li>
        <li>Ataki osobiste/polityczne/poglądowe lub trollowanie i obraźliwe/uwłaczające komentarze.</li>
        <li>Nękanie.</li>
        <li>Publikowanie informacji prywatnych o innych osobach jak np. adres zamieszkania, elektroniczny, dane wrażliwe bez wyraźnej ich zgody.</li>
        <li>Plagiatowanie treści lub przywłaszczanie innych wartości.</li>
        <li>Spamowanie treściami reklamowymi lub podobnymi.</li>
        <li>Inne zachowania, które można uznać za niewłaściwe w środowisku edukacji seksualnej.</li>
    </ul>
    
    <p>Ze wszelkich zachowań mających znamiona mowy nienawiści, będą wyciągane konsekwencje. Bezpieczeństwo i komfort naszej społeczności jest najwyższą wartością, dlatego przedkładamy je ponad komfort osób naruszających Kodeks.</p>
    
    <p>Nie rozpatrujemy skarg dotyczących:</p>
    <ul>
        <li>Kulturalnego komunikowania granic np. „Zostaw mnie w spokoju”, „Nie chcę o tym rozmawiać”, „Nie zgadzam się z Twoim zdaniem/poglądem/opinią”.</li>
        <li>Odmowy wyjaśnienia czyjegoś poglądu.</li>
        <li>Krytyki zachowań naruszających Kodeks.</li>
    </ul>
    
    <p>Naruszenia kodeksu można zgłaszać, kontaktując przez <a href="<%= app_url("/report-abuse") %>">formularz zgłoszenia</a> lub wysyłając e-mail na adres <a href="mailto:hej@nietabu.pl">hej@nietabu.pl</a>. Wszystkie zgłoszenia zostaną niezwłocznie rozpatrzone przez moderatorów, a konsekwencje nadużyć wyciągnięte.</p>
    
    <p>Moderatorzy mają prawo oraz obowiązek do usuwania komentarzy, wpisów oraz innych materiałów jeśli naruszają one Kodeks. W przypadku uznania, że działania danego Użytkownika naruszają bezpieczeństwo i znacznie pogarszają komfort członków społeczności, Moderatorzy mają możliwość zawieszenia lub stałego usunięcia konta, bez możliwości odwołania.</p>

  <p>Adaptacja:</p>
  <ul>
  <li><a href="http://contributor-covenant.org/version/1/4">Contributor Covenant, version 1.4</a></li>
  <li><a href="http://www.writespeakcode.com/code-of-conduct.html">Write/Speak/Code</a></li>
  <li><a href="https://geekfeminism.org/about/code-of-conduct">Geek Feminism</a></li>
</ul>
