<h2>Zakazane</h2>

<p>
  Twoje konto zostało zawieszone i ma ograniczony dostęp.
  Twoja zdolność do dodawania postów i komentowania może być ograniczona.
</p>

<p>Więcej informacji możesz uzyskać, wysyłając wiadomość do <%= contact_link %>.</p>
