<p>
  Cześć <%= @name %>,
</p>

<p>
  Twoje konto <%= community_name %> zostało pomyślnie usunięte.
</p>

<p>
  <%= t("views.mailers.contact_mailto_html", contact_email: ForemInstance.contact_email) %>
</p>

<p>
  Dziękujemy,
  <br>
  Zespół <%= community_name %>
</p>
