<p>
  Cze <%= @user.name %>!
</p>
<p>
  Dobre wieci! Otrzymae uprawnienia zaufanego czonka na <%= community_name %>!
</p>
<p>
  <b>Od teraz ikona tarczy bdzie widoczna na stronach post贸w. Wystarczy na ni klikn, aby podj <em>prywatne</em> dziaania na treci spoecznoci.</b>
</p>
<p>
  Oto przegld Twoich nowych mo偶liwoci:
  <ul>
    <li>Oceniaj treci () za pomoc reakcji emoji</li>
    <li>Oce poziom dowiadczenia post贸w</li>
    <li>U偶yj ikony Zgo do Administrator贸w , aby zgosi problematyczn tre</li>
  </ul>
</p>
<% if Page.find_by(slug: "trusted-member") %>
  <p>
    <mark>Odwied藕 <b><a href="<%= app_url("trusted-member") %>">Przewodnik dla Zaufanych Czonk贸w</a></b>, aby uzyska pene informacje o Twojej nowej roli i instrukcje, jak zacz.</mark>.
  </p>
<% end %>
<p>
  Dzikujemy, 偶e jeste niesamowitym czonkiem naszej spoecznoci. Pracujmy razem, aby stworzy przyjazn i konstruktywn przestrze!
</p>
<p>
  Zesp贸 <%= community_name %>
</p>
