<p>
Cześć <%= @user.username %>!
</p>

<p>
Wysyłamy ten email, aby zweryfikować, że masz dostęp do tego adresu email.
</p>

<p>
Jeśli nie masz pojęcia, dlaczego otrzymujesz ten email, zignoruj go!
</p>

<p>
  W przeciwnym razie, <strong><%= link_to "kliknij tutaj", app_url(verify_email_authorizations_path(confirmation_token: @confirmation_token, username: @user.username)) %></strong> aby zweryfikować, że nadal masz dostęp do tego adresu email.
</p>
