<% if @user.creator? %>
  <%= render partial: "creator_confirmation_instructions", locals: { url: confirmation_url(@resource, confirmation_token: @token) } %>
<% else %>
  <p>Hej <%= @name %>!</p>

  <p>Dziękuje za rejestrację, teraz możesz potwierdzić swój adres e-mail poprzez kliknięcie poniższego linku:</p>

  <p><%= link_to "Potwierdź mój adres e-mail", confirmation_url(@resource, confirmation_token: @token) %></p>

  <p>Jeśli to nie Ty dokonujesz rejestracji na nietabu.pl, nie ma się czym martwić – możesz go bezpiecznie zignorować.</p>
<% end %>
