<p>Cześć <%= @resource.email %>!</p>

<p>Twoje konto zostało zablokowane z powodu nadmiarowej liczby nieudanych prób logowania.</p>

<p>Kliknij poniższy link, aby odblokować swoje konto:</p>

<p><%= link_to "Odblokuj moje konto", unlock_url(@resource, unlock_token: @token) %></p>
